.profile{
  a:visited{
    color: #000;
  }
.header{
    height: 230px;
    background-color: rgba(40, 208, 148, 1)
    
}
svg{
    position: absolute;
  right: 30px;
  font-size:22px;  
  color:#fff;
}
.portrait{
  border-width: 0px;
    position: absolute;
    left: 22px;
    top: 93px;
    width: 54px;
    height: 54px;
}
.userName{
  border-width: 0px;
    position: absolute;
    left: 93px;
    top: 96px;
    width: 41px;
    height: 24px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    >p{
      font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    }
}
.headerState{
  position: absolute;
  left: 50%;
  margin-left: -168px;
  top: 207px;
  background-color: #fff;
  width: 335px;
    height: 94px;
    display: flex;
    border-radius: 5px;
    ;
    >div{
      margin-top: 22px;
      flex: 1;
      text-align: center;
      >span{
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;

      }
      >p{
        font-size: 12px;
    color: #999999;
      }
    }
}
.content{
    box-sizing:border-box;
    padding-top: 75px;
    width: 100%;
    background-color: #fff;
    padding-left: 40px;
    height: 100vh;
    >div{
      margin-top: 30px;
      >a{
        float: right;
        margin-right: 40px;
      }
    }
}
}