.isshead {
  width: 100%;
  height: 100%;
  background: white;

  .clihbox {
    width: 100%;
    display: flex;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .issleft {
      box-sizing: border-box;
      font-size: 18px;
      margin-left: 10px;
    }
    .issfa {
      margin: 0 auto;
      font-weight: 500;
      font-size: 18px;
    }
  }


  .issinput {
    position: relative;
    width: 98%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    input {
      height: 20px;
      width: 100%;
      outline: none;
      border: none;
    }
    input::placeholder {
      color: #b1aaaa;
      font-size: 14px;
    }
  }
    >textarea{
      outline:none;
      resize:none;
      border: none;
  }
  .issaddres{
    height: 40px;
    line-height: 40px;
    >span{
    line-height: 40px;
     font-size: 14px;
     font-weight: 400;
    }
  }
}