.d{position: relative;

.Img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.touxiang{
    height: 80px;
    width: 80px;
    border-radius :40px;
    position: absolute;
    left: 20px;
    top: 160px;
    >img{
        position: absolute;
    left: -10px;
    top: -8px;
    width: 96px;
    height: 96px;
    border-width: 0px;
    }

}
.red{
    width: 60px;
    height: 30px;
    margin-left: 200px;
    margin-top: 10px;
    color: white;
    background-color:  rgba(225, 1, 6, 0.658823529411765);
    line-height: 30px;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;

}
.name{
    height: 20px;
    width: 80px;
    position: absolute;
    left: 20px;
    top: 245px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
}
.big{
   width: 100px;
   height: 25px;
   position: absolute;
   left: 20px;
   top: 280px;
   background: inherit;
   background-color: rgba(102, 110, 232, 0.466666666666667);
   border: none;
   border-radius: 20px;
   box-shadow: none;
   font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
   font-weight: 650;
   font-style: normal;
   font-size: 12px;
   color: rgba(255, 255, 255, 0.968627450980392);
   line-height: 25px;
   text-align: center;
}
.small{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 125px;
    top: 280px;
    background: inherit;
    background-color: rgba(102, 110, 232, 0.466666666666667);
    border: none;
    border-radius: 12.5px;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.968627450980392);
    line-height: 25px;
    text-align: center;
}
.qianming{
    border-width: 0px;
    position: absolute;
    left: 21px;
    top: 320px;
    width: 341px;
    height: 35px;
    opacity: 0.7;
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

}
.zan{
    border-width: 0px;
    position: absolute;
    left: 21px;
    top: 353px;
    >b{
        width: 27px;
        height: 23px;
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: black;
    
    }
    >span{
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        margin-left: 8px;
        color: blueviolet;

    }
    }
 .fensi{
    border-width: 0px;
    position: absolute;
    left: 89px;
    top: 353px;
    >b{
        width: 27px;
        height: 23px;
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
    >span{
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        margin-left: 8px;
        color: blueviolet;

    }
    }
    .guanzhu{
    border-width: 0px;
    position: absolute;
    left: 165px;
    top: 353px;
    
    >b{
        width: 27px;
        height: 23px;
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
    >span{
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        margin-left: 8px;
        color: blueviolet;
    
    }}

.hui{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 390px;
    width: 394px;
    height: 11px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.cnm{
    position: absolute;
    top:400px;
    width: 100%;

}
}