* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

ul, ol, li {
  list-style: none;
}

html, body, #root {
  width: 100vw;
  height: 100vw;
  background-color: #fff;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 49px;
  background: white;
}
